/*app.scss*/

@import 'theme/colors';
@import 'theme/fonts';

html {

  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: $day_body;

}

body {

  margin: inherit;
  padding: inherit;
  height: inherit;
}

#root {

  margin: 0;
  padding: 0;
  height: inherit;
}

.content {

  width: 80%;
  height: 100%;
  background-color: green;
}


.content > .title {

  margin: auto;

  text-align: center;
  white-space: pre-wrap;

  font-family: 'Title', Fallback, sans-serif;
  font-size: 6rem;

  display: block;
}

