/*content.scss*/

@import 'theme/colors';
@import 'theme/fonts';
@import 'mixins/card';


.content {

  height: 100%;
  width: 100%;

  

  div {

    height: 100%;
    position: relative;
    
    margin: 0;

  }

  .page {
    
    position: absolute;
    height: 100%;
    width: 100%;

    z-index: 0;
  }
}



.content h1 {
  
  margin: 0;
  text-align: center;

  font-family: 'Title', Fallback, sans-serif;
  font-size: 4rem;
}



.content .card {

  position: absolute;
  height: 60%;
  width: 90%;

  top: 40%;
  left: 50%;

  transform: translate(-50%, -40%);

  background-color: orange;
  overflow-y: auto;

  @include depth(3);
   
  font-family: 'Content', Fallback, sans-serif;
  
  h3 {

    text-align: center;
    padding: 1rem;
    font-size: 1.6rem;
  }
  p {

    padding: 1rem;
    font-size: 1.3rem;
  }
}
