/*content.scss*/

@import 'theme/colors';
@import 'theme/fonts';
@import 'mixins/card';


.content {

  height: 100%;
  width: 100%;

  z-index: 1;

  div {

    height: 100%;
    position: relative;
    
    margin: 0;

  }

  .page {
    
    height: 100%;
    width: 100%;

    position: absolute;
  }
}


.content h1 {
  
  margin: 0;
  text-align: center;

  font-family: 'Title', Fallback, sans-serif;
  font-size: 4rem;
}



.content .card {

  position: absolute;
  height: 55%;
  width: 90%;

  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);

  
  background-color: orange;

  overflow-y: scroll;

  @include depth(3);
  
  padding: 1.2rem;
  font-family: 'Content', Fallback, sans-serif;
}
