/*entry-grid.scss*/

@import 'theme/colors';
@import 'mixins/adjust';
@import 'mixins/card';

.content .entry-grid {

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  width: 80%;
  margin: auto;
  margin-top: 2em;
  
  .entry {
  
    margin: auto;
    margin-bottom: 2em;

    height: 120px;
    width: 320px;

    @include depth(3);

    background-color: $morning_dark;
    transition: background-color .5s ease;

    a {

      color: $morning_light;
      transition: color .5s ease;

      .entry-icon {

        display: block;
        position: absolute;
        height: 80px;
        width: 80px;

        margin: 20px 10px 20px 10px;

        .icon {
        
          display: block;
          margin: auto;
          
          height: 60px;
          width: auto;
        }
      }

      .entry-icon + .entry-info {
        
        display: block;
        position: absolute;

        left: 100px;

        height: 120px;
        width: 200px;

        margin: 0 10px 0 10px;

        h2 {

          font-size: 1.7rem;
          margin: 10px 0 10px 0;
        
        }

        h4 {

          font-size: .9rem;
        
        }
      }
    }
  }

  .entry:hover {
  
    background-color: $morning_light;

    a {
      color: $morning_dark;
    }
  }
}
