/*gallery-grid.scss*/

@import 'theme/colors';
@import 'theme/fonts';
@import 'mixins/adjust';
@import 'mixins/card';

.content .gallery-grid {

  display: grid;
  
  grid-template-columns: repeat(3, 1fr);
  
  width: 80%;
  margin: auto;

  .badge {

    margin: auto;
    margin-bottom: 2em;

    height: 190px;
    width: 190px;

    overflow: hidden;
  
    border-radius: 50%;
    @include depth(3);

    .badge-container {

      clip-path: circle(95px at center);
      background: $morning_body;

      img {
        
        margin: auto;
        height: auto;
        width: 190px;

        clip-path: circle(90px at center);

      }


      .badge-header {
        
        display: block;
        height: 100%;
        width: 100%;

        position: absolute;
        top: 0;
        left: 0;

        
        text-align: center; 
        background-color: $morning_dark;
        color: $morning_light;
        visibility: hidden;
        opacity: 0;

        transition: opacity .5s ease, visibility .5s ease;

        h4 {

          line-height: 190px;
          margin: auto;
          vertical-align: middle;

          font-size: 1rem;

          text-transform: uppercase;
        }
      }
    }


    .badge-container:hover .badge-header {
      visibility: visible;
      opacity: .8;
    }

  }
}


