/*menu.scss*/

@import 'theme/colors';
@import 'mixins/card';
@import 'mixins/adjust';

.menu {

  position: relative;
  margin: 0;
  padding: 0;
  float: right;
  height: 100%;
  width: 20%;

  z-index: 3;
    
  text-align: center;
  font-family: 'Menu', Fallback, sans-serif;

  color: $night_light;
  background-color: $night_dark;

  @include depth(5);



}



.menu > h1 {
  
  margin: auto;

  font-size: 2rem;
}


.menu > nav {

  @include a-fix($night_light);

  ul {

    margin-top: .6rem;
    list-style: none;
    padding: 0;

    li {
      margin: 1rem;
    
    }
    
    a {

      font-size: 1.4rem;
      text-decoration: none;
    }
  }

}

.menu > .profile-photo {

  margin: auto;
  margin-bottom: 2em;
  padding: 0;
  width: 250px;
  height: 250px;

  //@include depth_filter(5);
  
  img {
      
    margin: auto;
    padding: 0;
    height: auto;
    width:  250px;
  
    
    clip-path: circle(120px at center);
  }
}

