/*menu.scss*/

@import 'theme/colors';
@import 'mixins/card';

.menu {

  margin: 0;
  padding: 0;
  float: right;
  height: 100%;
  width: 20%;

  z-index: 3;
    
  text-align: center;
  font-family: 'Menu', Fallback, sans-serif;

  color: $morning_body;
  background-color: $morning_menu;

  @include depth(5);

}

.menu > h1 {
  
  margin: auto;
}


.menu > nav {
  ul {

    margin-top: .6rem 0 0 0;
    list-style: none;
    padding: 0;

    li {
      margin: 1rem;
    
    }
    
    a {

      font-size: 1.4rem;
      text-decoration: none;
    }
  }

}

.menu > .profile-photo {

  margin: 2em;
  padding: 0;
  height: 32%;
  clip-path: circle(6rem at center);

  background-color: red;

  img {
    
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

