/*styles.scss*/
/*_colors.scss*/
/*fonts.scss*/
@font-face {
  font-family: 'Title';
  src: url("../resources/fonts/DODGE.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Menu';
  src: url("../resources/fonts/Queen_of_Camelot.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Content';
  src: url("../resources/fonts/IBMPlexSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/*animations.scss*/
.slide-appear, .slide-enter {
  transform: translate(150%, 0%); }

.slide-appear-active, .slide-enter-active {
  transform: translate(0%, 0%);
  transition: transform 1s ease; }

.slide-exit {
  transform: translate(0%, 0%); }

.slide-exit.slide-exit-active {
  transform: translate(-150%, 0%);
  transition: transform 1s ease; }

/*app.scss*/
/*_colors.scss*/
/*fonts.scss*/
@font-face {
  font-family: 'Title';
  src: url("../resources/fonts/DODGE.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Menu';
  src: url("../resources/fonts/Queen_of_Camelot.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Content';
  src: url("../resources/fonts/IBMPlexSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

#root {
  height: 100%;
  width: 100%; }

.page-whole {
  height: 100%;
  background-color: #c9fcfd; }

main {
  height: 100%;
  width: 80%;
  z-index: 0; }

.title {
  text-align: center;
  white-space: pre-wrap;
  font-family: 'Title', Fallback, sans-serif;
  font-size: 6rem; }

/*content.scss*/
/*_colors.scss*/
/*fonts.scss*/
@font-face {
  font-family: 'Title';
  src: url("../resources/fonts/DODGE.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Menu';
  src: url("../resources/fonts/Queen_of_Camelot.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'Content';
  src: url("../resources/fonts/IBMPlexSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/*card.scss*/
.content {
  height: 100%;
  width: 100%; }
  .content div {
    height: 100%;
    position: relative;
    margin: 0; }
  .content .page {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0; }

.content h1 {
  margin: 0;
  text-align: center;
  font-family: 'Title', Fallback, sans-serif;
  font-size: 4rem; }

.content .card {
  position: absolute;
  height: 60%;
  width: 90%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  background-color: orange;
  overflow-y: auto;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  font-family: 'Content', Fallback, sans-serif; }
  .content .card h3 {
    text-align: center;
    padding: 1rem;
    font-size: 1.6rem; }
  .content .card p {
    padding: 1rem;
    font-size: 1.3rem; }

/*menu.scss*/
/*_colors.scss*/
/*card.scss*/
.menu {
  position: relative;
  margin: 0;
  padding: 0;
  float: right;
  height: 100%;
  width: 20%;
  z-index: 3;
  text-align: center;
  font-family: 'Menu', Fallback, sans-serif;
  color: #025e8d;
  background-color: #4fabd9;
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.22), 0 19px 76px rgba(0, 0, 0, 0.3); }

.menu > h1 {
  margin: auto; }

.menu > nav ul {
  margin-top: .6rem;
  list-style: none;
  padding: 0; }
  .menu > nav ul li {
    margin: 1rem; }
  .menu > nav ul a {
    font-size: 1.4rem;
    text-decoration: none; }

.menu > .profile-photo {
  margin: 2em;
  padding: 0;
  height: 32%;
  clip-path: circle(6rem at center);
  background-color: red; }
  .menu > .profile-photo img {
    margin: 0;
    padding: 0;
    width: 100%; }
