/*animations.scss*/

//Slide



.slide-appear,.slide-enter {
  
  transform: translate(150%, 0%);
}

.slide-appear-active, .slide-enter-active {
  
  transform: translate(0%, 0%);
  transition: transform 1s ease;
}

.slide-exit {

  transform: translate(0%, 0%);
}

.slide-exit.slide-exit-active {

  transform: translate(-150%, 0%);
  transition: transform 1s ease;
}
