/*_colors.scss*/


//use hsl 


$morning_body: hsl(200, 97%, 28%);
$day_body: hsl(181, 93%, 89%);
$sunset_body: hsl(313, 82%, 27%);
$night_body: hsl(0, 0%, 18%);

$morning_menu: $morning_body + hsl(0, 0, 30%);

