/*colors.scss*/


//use hsl 

$d_val: 20%;
$l_val: 20%;

$primary: hsl(200, 97%, 28%);
$primary_light: lighten($primary, $l_val);
$primary_dark: darken($primary, $d_val);

$secondary: hsl(181, 93%, 89%);
$secondary_light: lighten($secondary, $l_val);
$secondary_dark: darken($secondary, $d_val);

$font: hsl(0, 0%, 18%);
$font_light: lighten($font, $l_val);
$font_dark: darken($font, $d_val);
