/*fonts.scss*/

@font-face {
  font-family: 'Title';
  src: url('../resources/fonts/DODGE.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Menu';
  src: url('../resources/fonts/Queen_of_Camelot.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}
